// typography
h1 {
  font-weight: 600;
  font-size: 1.25rem; //20
  line-height: 1.875rem;
  color: $color-dark-900;
  margin: 0;
}
h2 {
  font-weight: 600;
  font-size: 1.125rem; //18
  line-height: 1.688rem;
  color: $color-dark-900;
  margin: 0;
}
h3 {
  font-weight: 600;
  font-size: 1rem; //16
  line-height: 1.5rem;
  color: $color-dark-900;
  margin: 0;
}

h4 {
  font-weight: 600;
  font-size: 0.875rem; //14
  line-height: 1.313rem;
  color: $color-dark-900;
  margin: 0;
}
h5 {
  font-weight: 600;
  font-size: 0.75rem; //12
  line-height: 1.125rem;
  color: $color-dark-900;
  margin: 0;
}
p {
  font-size: 0.8125rem; //13
  line-height: 1.188rem;
  letter-spacing: 0.15px;
  color: $color-black;
  margin: 0;
}
