html {
  height: 100%;
}
body {
  height: 100%;
  font-family: $font-family;
  scroll-behavior: smooth;
  background: #fff;
}
.container-xxl {
  padding: 0 60px;
  @media (max-width: 767.98px) {
    padding: 0 32px;
  }
}

main {
  padding-top: 96px;
}

.modal-bottom {
  .modal-dialog {
    position: fixed;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;

    .modal-content {
      width: 100vw;
      .close-btn {
        background-color: #fff;
        position: absolute;
        top: -64px;
        left: 8px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #eceff1;
        box-shadow: 0px 8px 20px rgba(38, 50, 56, 0.12);
        cursor: pointer;
      }
      .content-wrapper {
        max-height: 80vh;
        overflow-y: auto;
        border-radius: 12px 12px 0 0;
      }
    }
  }
}
