main#detail-jalur {
  // section hero
  .hero {
    width: 100%;
    background-image: url("../../img/landingpage/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 340px;
    display: flex;
    padding: 80px 0;
  }

  h5.sub-title {
    font-family: $font-mulish;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: normal;
    opacity: 0.64;
    b {
      font-weight: 700;
    }
    @media (min-width: 576px) {
      font-size: 0.8889rem;
      line-height: 1.333rem;
    }
  }
  h3.title {
    letter-spacing: 0.1px;
    margin-bottom: 2.667rem;
    font-weight: 800;
    @media (min-width: 576px) {
      font-family: $font-mulish;
      font-size: 1.778rem;
      line-height: 2.667rem;
      letter-spacing: 0.3px;
    }
  }
  section {
    margin-top: 4rem;
    .section-title {
      margin-bottom: 2rem;
    }
    h4 {
      font-weight: normal;
      opacity: 0.64;
    }
    &.jalur-description {
      h4 {
        line-height: 1.75rem;
      }
    }
    &.pilihan-prodi {
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 1.5rem;
          display: flex;
          align-items: center;
          &::before {
            content: url("../img/detail-jalur/icon/li--button-icon.svg");
            margin-right: 1rem;
          }
        }
      }
    }
    &.jadwal-seleksi {
      .progress-container {
        .item-progress {
          width: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          padding: 28px 0;
          &:not(:last-child) {
            border-bottom: 1px solid #eceff1;
          }
          .icon {
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.4rem;
            background: #eceff1;
          }
          .step {
            width: 100%;

            h5 {
              line-height: 1.5rem;
              color: #7a7a7a;
              font-weight: normal;
              margin-bottom: 0.4rem;
            }
            h4 {
              font-weight: normal;
              color: #404852;
              opacity: 1;
            }
          }
          .tag {
            width: 112px;
            height: 40px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin-right: 8px;
            }
            p {
              font-weight: 500;
              font-size: 0.6667rem;
              line-height: 1rem;
            }
            &.done-tag {
              background: rgba(90, 69, 190, 0.08);
              p {
                color: #5a45be;
              }
            }
            &.current-tag {
              background: linear-gradient(
                108.95deg,
                #cf5d9e -61.84%,
                #fd5f86 124.4%
              );
              box-shadow: 0px 4px 16px rgba(242, 94, 139, 0.16);

              p {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
