main#landingpage {
  // section hero
  .hero {
    min-height: 600px;
    width: 100%;
    background-image: url("../../img/landingpage/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .bg-overlay {
      width: 100%;
      height: 100%;
      min-height: 600px;
      background: radial-gradient(
        47.81% 88.03% at 82.08% 33.88%,
        rgba(33, 33, 33, 0) 30.73%,
        rgba(33, 33, 33, 0.9) 100%
      );
      display: flex;
      align-items: center;
      padding: 80px 0;
      .title {
        height: fit-content;
        width: 50%;
        h1 {
          font-size: 1.125rem;
          line-height: 1.688rem;
          font-weight: 800;
          letter-spacing: 0.1px;
          color: #fff;
          text-transform: capitalize;
          font-family: $font-mulish;
          margin-bottom: 16px;
          span {
            color: $color-secondary;
          }
          @media (min-width: 576px) {
            font-size: 2.222rem;
            line-height: 3.333rem;
          }
        }
        h4 {
          line-height: 2.626rem;
          letter-spacing: 0.02em;
          color: #ffffff;
          opacity: 0.64;
          font-weight: normal;
        }
      }
      .daftar {
        margin-top: 4px;
        padding: 12px;
        border-radius: 8px;
        font-size: 0.8889rem;
        line-height: 1.333rem;
        letter-spacing: 0.02em;
        text-decoration: none;
        @media (min-width: 576px) {
          display: none;
        }
      }
    }
  }
  //   section search
  .search-bar {
    margin: 0;
    min-height: 112px;
    width: fit-content;
    max-width: 100%;
    padding: 14px 28px;
    position: relative;
    top: -56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    border: 1px solid #eceff1;
    box-shadow: 0px 10px 30px rgba(64, 72, 82, 0.2);
    border-radius: 16px;

    .column {
      padding: 14px 0;
      display: flex;
      flex-direction: row;
      width: fit-content;
      // max-width: 50%;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1099.98px) {
        width: 100%;
        max-width: 100%;
      }
    }
    .vr {
      height: 32px;
      border-right: 1px solid #dedede;
      margin: 0 32px;
      @media (max-width: 1099.98px) {
        display: none;
      }
    }
    .filter-group {
      @media (max-width: 1099.98px) {
        width: 100%;
      }
      &.search-group {
        display: flex;
        flex-direction: row;

        .search {
          border: 0;
          font-size: 0.8889rem;
          line-height: 1.333rem;
          color: #404852;
          opacity: 0.64;
          width: 280px;
          outline: none !important;
          box-shadow: none;
          @media (max-width: 1099.98px) {
            width: 100%;
          }
        }
      }
      h5 {
        margin-bottom: 4px;
        opacity: 0.8;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
      a {
        text-decoration: none;
        h4 {
          opacity: 0.64;
          letter-spacing: 0.5px;
          font-weight: normal;
        }
      }
    }
    .search-now {
      padding: 16px 20px;
      border-radius: 8px;
      font-size: 0.8889rem;
      line-height: 1.333rem;
      letter-spacing: 0.02em;
      text-decoration: none;
      margin-left: 32px;
      min-width: fit-content;
    }
  }
  //   section jalur seleksi
  .jalur-seleksi {
    .title {
      letter-spacing: 0.1px;
      margin-bottom: 2rem;
      font-weight: 600;
      @media (min-width: 576px) {
        display: none;
      }
    }
    .row {
      margin: 0 -22px;
      padding: 0;
      .jalur-item {
        padding: 0 22px;
        margin-bottom: 64px;
        .image-jalur {
          max-width: 100%;
          max-height: 260px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
            border-radius: 12px;
          }
        }
        .detail-jalur {
          padding: 16px;
          .periode {
            display: inline-flex;
            align-items: center;
            margin-bottom: 1rem;
            img {
              margin-right: 8px;
            }
            p {
              font-size: 0.6875rem;
              line-height: 1rem;

              opacity: 0.56;
            }
          }
          .nama-jalur {
            margin-bottom: 0.25rem;
          }
          .ket-jalur {
            font-family: $font-mulish;
            font-weight: normal;

            opacity: 0.64;
            margin-bottom: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .biaya-formulir {
            font-family: $font-mulish;
            font-weight: bold;
            letter-spacing: 0.346154px;
            span {
              font-weight: normal;
            }
          }
        }
      }
    }
    .owl-carousel {
      .item {
        margin: 12px 0;
        background: #ffffff;
        border: 1px solid #eceff1;
        // box-shadow: 0px 30px 80px rgba(47, 65, 88, 0.1);
        border-radius: 8px;
        .image-jalur {
          width: 100%;
          height: 160px;
          object-fit: cover;
          border-radius: 8px 8px 0 0;
        }
        .detail-jalur {
          padding: 16px;
          .periode {
            display: inline-flex;
            align-items: center;
            margin-bottom: 1rem;
            img {
              margin-right: 8px;
              height: 16px;
              width: 16px;
            }
            p {
              font-size: 0.6875rem;
              line-height: 1rem;

              opacity: 0.56;
            }
          }
          .nama-jalur {
            margin-bottom: 0.25rem;
          }
          .ket-jalur {
            font-family: $font-mulish;
            font-weight: normal;

            opacity: 0.64;
            margin-bottom: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .biaya-formulir {
            font-family: $font-mulish;
            letter-spacing: 0.346154px;
            color: $color-secondary;
            font-weight: bold;
            span {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  //   section fasilitas kampus
  .fasilitas-kampus {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    margin-top: 64px;
    .fasilitas-detail {
      max-width: 760px;
      margin: 0 auto;
      padding: 0 20px;
      .title {
        letter-spacing: 0.1px;
        margin-bottom: 2rem;
        font-weight: 600;
        @media (min-width: 576px) {
          text-align: center;
          font-family: $font-mulish;
          font-size: 1.556rem;
          line-height: 2.333rem;
          letter-spacing: 0.3px;
          margin-bottom: 16px;
          font-weight: bold;
        }
      }
      .subtitle {
        text-align: center;

        letter-spacing: 0.346154px;
        color: #7a7a7a;
      }
      .row-wrapper {
        margin-top: 56px;
        overflow-x: auto;
        .row {
          text-align: left;
          min-width: 600px;
          max-width: 720px;
          margin: 0 auto;
          .col-4 {
            display: inline-flex;
            align-items: center;
            margin-bottom: 20px;
            img {
              margin-right: 12px;
            }
            h5 {
              font-weight: normal;
              letter-spacing: 0.346154px;
            }
          }
        }
      }
    }
    .fasilitas-images {
      position: relative;
      top: -100px;
      left: 50%;
      margin-left: -720px;
      z-index: -1;
      width: 1440px;
      padding: 0;
      .col-sm-6 {
        padding: 0;
        .row {
          margin: 0 -12px;
          padding: 0 12px;
          .col-sm-3 {
            padding: 0 12px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            img {
              width: 100%;
              object-fit: cover;
              border-radius: 8px;
              margin-top: 16px;
              height: 222px;
              &#fasil-1,
              &#fasil-3,
              &#fasil-4,
              &#fasil-9,
              &#fasil-10,
              &#fasil-11 {
                height: 114px;
              }
            }
          }
        }
      }
    }
  }

  //   section ulasan
  .testimoni {
    margin: 0;
    padding: 0;

    .col-sm-6 {
      padding: 0;
    }
    .texts {
      max-width: 660px;
      margin-left: auto;
      padding: 100px 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .pmb-quote-icon {
        margin-bottom: 1rem;
        color: #f57c00;
        opacity: 0.56;
        font-size: 2.5rem;
      }
      .title {
        letter-spacing: 0.1px;
        margin-bottom: 2rem;
        font-weight: 600;
        @media (min-width: 576px) {
          font-family: $font-mulish;
          font-size: 1.556rem;
          line-height: 2.333rem;
          letter-spacing: 0.3px;
          margin-bottom: 16px;
          font-weight: bold;
        }
      }
      #carousel-testimoni {
        max-width: 500px;
        .item {
          padding: 40px 0;
          height: 400px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .text-testimoni {
            margin: 0 auto;
            margin-bottom: 88px;
            line-height: 1.75rem;
            font-weight: normal;
            text-align: center;
            font-style: italic;
            opacity: 0.64;
            overflow-y: auto;
          }
          .nama {
            height: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .nama-testimoni {
              font-weight: 500;
              opacity: 0.8;
              text-transform: capitalize;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
            .nama-detail {
              margin-top: 4px;
              font-weight: 500;
              text-transform: lowercase;
              opacity: 0.64;
            }
          }
        }
      }
      .btns {
        width: 100%;
        max-width: 524px;
        display: inline-flex;
        justify-content: space-between;
        position: relative;
        z-index: +1;
        a {
          text-decoration: none;
          color: #404852;
          font-size: 14px;
          cursor: pointer;

          position: absolute;
          top: -80px;
          &#PreviousBtn {
            left: 0;
          }
          &#NextBtn {
            right: 0;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .img-groups {
          padding-left: 6px;
          display: inline-flex;
          img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 2px solid #ffffff;
            margin: 0;
            margin-left: -8px;
          }
        }
      }
    }
    .images {
      background: #f6fafa;
      border-radius: 16px 0px 0px 16px;
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: left;
      .avatar-list {
        width: fit-content;
        .avatar-container {
          margin: 20px 32px;
          background: linear-gradient(
            135deg,
            rgba(15, 239, 253, 1) 0%,
            rgba(255, 0, 245, 1) 45%,
            rgba(15, 239, 253, 0) 80%
          );
          width: 56px;
          height: 56px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            border-radius: 50%;
            border: 4px solid #fff;
            width: 52px;
            height: 52px;
            object-fit: cover;
          }
        }
      }
      .avatar-highlight {
        height: 500px;
        width: 340px;
        margin-right: 32px;
        img {
          height: 100%;
          width: 100%;
          border-radius: 0 64px;
          object-fit: cover;
        }
      }
      &.highlight-1 {
        #avatar-1 {
          img {
            //   isisomething
          }
        }
        .avatar-highlight {
          img:not(#highlight-1) {
            display: none;
          }
        }
      }
      &.highlight-2 {
        #avatar-2 {
          img {
            //   isisomething
          }
        }
        .avatar-highlight {
          img:not(#highlight-2) {
            display: none;
          }
        }
      }
      &.highlight-2 {
        #avatar-2 {
          img {
            //   isisomething
          }
        }
        .avatar-highlight {
          img:not(#highlight-2) {
            display: none;
          }
        }
      }
      &.highlight-3 {
        #avatar-3 {
          img {
            //   isisomething
          }
        }
        .avatar-highlight {
          img:not(#highlight-3) {
            display: none;
          }
        }
      }
      &.highlight-4 {
        #avatar-4 {
          img {
            //   isisomething
          }
        }
        .avatar-highlight {
          img:not(#highlight-4) {
            display: none;
          }
        }
      }
      &.highlight-5 {
        #avatar-5 {
          img {
            //   isisomething
          }
        }
        .avatar-highlight {
          img:not(#highlight-5) {
            display: none;
          }
        }
      }
    }
  }

  // section berita
  .berita {
    padding-top: 82px;
    .section-title {
      .mobile-title {
        letter-spacing: 0.1px;
        margin-bottom: 2rem;
        font-weight: 600;
        display: none;
      }
      .col-6 {
        h1 {
          font-family: $font-mulish;
          font-size: 1.556rem;
          line-height: 2.333rem;
          font-weight: 700;
          letter-spacing: 0.3px;
          max-width: 350px;
        }
        p {
          letter-spacing: 0.346154px;
        }
        a {
          text-decoration: none;
          p {
            margin-top: 12px;
            font-weight: 600;
            color: $color-secondary;
          }
        }
      }
    }
    .berita-mobile {
      display: none;
      padding: 0;
      padding-bottom: 40px;
      margin: 0 -16px;
      .item-wrapper {
        padding: 8px;
        &#berita-2,
        &#berita-4 {
          position: relative;
          top: 40px;
        }
        .item {
          background: #fafafa;
          border: 1px solid #eceff1;
          box-shadow: 0px 20px 60px rgba(32, 56, 85, 0.1);
          border-radius: 8px;
          margin: 0px;
          padding: 8px;
          img {
            object-fit: cover;
            position: relative;
            width: 100%;
            height: 120px;
            border-radius: 8px;
          }

          .text {
            padding: 12px;

            .judul {
              letter-spacing: 0.346154px;
              margin: 4px 0;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
            }
            .tanggal {
              margin-top: 24px;
              display: inline-flex;
              align-items: center;
              font-weight: normal;
              line-height: 1.5rem;
              color: #7a7a7a;
              letter-spacing: 0.346154px;

              img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
    #carousel-berita {
      @media (max-width: 575.98px) {
        display: none;
      }
      .owl-stage-outer {
        padding: 82px 0;
      }
      .item {
        background: #fafafa;
        border: 1px solid #eceff1;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        margin: 0 12px;
        padding: 12px;
        .img {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          width: 100%;
          height: 50px;
          border-radius: 8px;
          .arrow {
            z-index: +1;
            position: absolute;
            right: 20px;
            bottom: -20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $color-secondary;
            border: 2px solid #ffffff;
            i {
              color: #fff;
              font-size: 14px;
            }
          }
        }
        .text {
          padding: 16px 0;
          h5 {
            font-weight: normal;
            line-height: 1.5rem;
            color: #7a7a7a;
            letter-spacing: 0.346154px;
            &.isi-berita {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
          }
          h4 {
            letter-spacing: 0.346154px;
            margin: 4px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}
