main#pendaftaran {
  .main-pendaftaran {
    .card-main-pendaftaran {
      .info-jalur-pembayaran {
        position: relative;
        margin: 40px -6px 0;
        padding: 16px 24px;
        background: linear-gradient(
          180deg,
          rgba(242, 247, 254, 0) 37.68%,
          #f2f7fe 118.12%
        );
        border-radius: 6px;
        min-height: 140px;
        .col {
          padding: 0 6px;
          .row {
            margin: 0 -12px;
            padding: 0;
            .col {
              padding: 0 12px;
              h6 {
                font-weight: 400;
                a {
                  color: $color-secondary;
                  font-size: 0.667;
                  margin-left: 8px;
                }
              }
              h5 {
                font-weight: 500;
                margin-top: 8px;
              }
            }
          }
          &.img {
            img {
              position: absolute;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
      .select-metode {
        margin: 44px 0;

        .title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0;
          h5 {
            font-weight: 400;
            color: #7a7a7a;
            margin-top: 4px;
          }
        }
        .select {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 0;
          .form-select-pmb {
            margin: 0px;
            width: calc(100% - 150px);
            select {
              width: 100%;
            }
          }
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 58px;
            margin-left: 16px;
            width: 134px;
            border-radius: 6px;
            p {
              font-weight: 500;
              font-size: 0.778rem;
              line-height: 1.167rem;
            }
          }
        }
      }
      hr.card-divider {
        height: 13px;
        background: #eceff1;
        opacity: 0.4;
        border-top: 1px solid #eeeeee;
        margin: 0 -64px;
        &#metode-divider {
          display: none;
        }
      }
      .pilihan-pembayaran {
        display: none;
        padding: 44px 0;
        .section-title {
          margin-bottom: 32px;
        }
        .pilihan-list {
          .pilihan-item {
            padding: 6px 16px;
            background: #ffffff;
            border: 1px solid #dadce0;
            border-radius: 8px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:not(:last-child) {
              margin-bottom: 24px;
            }
            &:hover {
              cursor: pointer;
              border: 1px solid #bdbdbd;
            }

            .left {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .material-icons-round {
                margin-right: 18px;
                color: #bec2c3;
              }
              .desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .name {
                  font-weight: 500;
                }
                .fee {
                  font-weight: 400;
                  color: #7a7a7a;
                  margin-top: 2px;
                }
              }
            }
            .right {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              img {
                height: 76px;
                max-height: 76px;
                width: auto;
                object-fit: contain;
              }
            }
            &.active {
              border: 1px solid $color-primary;
              .left {
                .material-icons-round {
                  color: $color-primary;
                }
                .desc {
                  .name {
                    font-weight: 600;
                    color: $color-primary;
                  }
                }
              }
            }
          }
        }
      }
      .transfer-bank {
        display: none;
        padding: 44px 0;
        .section-title {
          margin-bottom: 32px;
        }
        .notify {
          background: #fefefc;
          box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.06);
          border-radius: 4px;
          padding: 24px 24px 20px;
          position: relative;
          overflow: hidden;
          .top-line {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 4px;
            background: $color-ternary;
          }
          h5 {
            display: flex;
            align-items: center;
            .material-icons-round {
              margin-right: 16px;
              color: $color-ternary;
              font-size: 18px;
            }
          }
        }
        .sub-title {
          margin: 24px 0;
        }
        .ketentuan-list {
          .ketentuan-item {
            margin: 0 -6px;
            &:not(:last-child) {
              margin-bottom: 24px;
            }
            .col {
              padding: 0 6px;
              .material-icons-round {
                color: $color-ternary;
                font-size: 12px;
                line-height: 1.167rem;
              }
              &.content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h5 {
                  font-weight: 400;
                  color: #7a7a7a;
                }
                .banks {
                  margin: 22px -2px -2px;
                  .bank {
                    padding: 2px;
                    height: 45px;
                    width: 71px;
                    max-height: 45px;
                    max-width: 71px;
                    border: 1px solid #f5f6f8;
                    border-radius: 2px;
                    overflow: hidden;
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                    }
                  }
                }
              }
            }
          }
        }
        &.waiting {
          display: block;
          border: 1px solid #eceff1;
          border-radius: 8px;
          margin: 44px auto;
          padding: 24px;
          .sub-title {
            margin: 0;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid #eceff1;
          }
        }
      }
      .promo-voucher {
        padding: 44px 0;
        .section-title {
          margin-bottom: 44px;
        }
        .voucher {
          outline-offset: -2px;
          margin: 0;
          padding: 0;
          position: relative;
          overflow: hidden;
          .col-12 {
            display: flex;
            align-items: center;
            padding: 24px 32px;
            border: 1px solid #dadce0;
            border-radius: 8px;
            .text {
              margin-left: 16px;
              .bottom {
                margin-top: 4px;
                font-weight: 400;
                color: #7a7a7a;
              }
            }
            &.left {
              border-right: none;
            }
            &.right {
              justify-content: flex-end;
              border-left: 2px dashed #dadce0;
              a {
                display: flex;
                align-items: center;
                color: $color-primary;
                cursor: pointer;
                i,
                h5 {
                  font-size: 14px;
                  color: $color-primary;
                }
                i {
                  margin-left: 12px;
                }
              }
            }
          }
          .cutout {
            padding: 0;
            position: absolute;
            width: 16px;
            height: 16px;
            background: #fff;
            border: 1px solid #dadce0;
            border-radius: 100%;
            &.top {
              top: -8.5px;
            }
            &.bot {
              bottom: -8.5px;
            }
            &.mid {
              left: calc(50% - 7px);
            }
            &.stop {
              top: calc(25% - 7px);
            }
            &.smid {
              top: calc(50% - 7px);
            }
            &.sbot {
              top: calc(75% - 7px);
            }
            &.left {
              left: -7px;
            }
            &.right {
              right: -7px;
            }
          }
          &.active {
            .col-12 {
              border: 1px solid $color-primary;
              &.left {
                h6:not(.bottom) {
                  color: $color-primary;
                }
                border-right: none;
              }
              &.right {
                border-left: 2px dashed $color-primary;
              }
            }
            .cutout {
              border: 1px solid $color-primary;
            }
          }
        }
      }
      .detail-pembayaran {
        padding: 44px 0;
        .section-title {
          margin-bottom: 12px;
        }
        .list-detail {
          .item-pembayaran {
            padding: 20px 0;
            .description,
            .nominal {
              font-weight: 400;
              color: #7a7a7a;
            }
            .nominal {
              font-family: "DM Mono", sans-serif;
              text-align: right;
              letter-spacing: 0.25px;
            }
            &.total {
              .description {
                color: #404852;
                font-weight: 500;
              }
              .nominal {
                color: $color-danger;
                font-weight: 500;
              }
            }
            &:not(:last-child) {
              border-bottom: 1px solid #eceff1a3;
            }
          }
        }
      }
      // waiting
      img.bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        width: 100%;
        // z-index: 0;
      }

      .ilustrasi {
        text-align: center;
        padding: 40px 0;
        img {
          margin: 16px 0 44px;
          max-width: 60%;
        }
        h2 {
          width: 320px;
          max-width: 100%;
          letter-spacing: 0.25px;
          margin: 0 auto;
        }
        h3 {
          color: $color-danger;
        }
        h5 {
          margin: 12px auto 0;
          width: 400px;
          max-width: 100%;
          line-height: 1.67rem;
          font-weight: 400;
        }
        &.recap {
          h2 {
            width: 400px;
            max-width: 100%;
          }
          &.cancelled {
            img {
              margin: 24px 0 0;
            }
          }
        }
      }

      .payment-details {
        margin: 0 auto;
        padding: 32px 0;
        .row {
          &:not(:last-child) {
            border-bottom: 1px solid #eceff1a3;
          }
          .col-6 {
            padding-top: 16px;
            padding-bottom: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 124px;
          }
          .left {
            .row-subtitle {
              margin-top: 12px;
              font-weight: 400;
              color: #7a7a7a;
            }
            .total-number {
              color: $color-primary;
              font-family: "DM Mono", sans-serif;
              font-weight: 500;
              cursor: pointer;
              width: fit-content;
            }
          }
          .right {
            align-items: flex-end;
            img {
              height: 95px;
              width: 150px;
              max-height: 95px;
              max-width: 150px;
              object-fit: contain;
            }
            h5 {
              font-weight: 500;
              color: #7a7a7a;
              display: flex;
              align-items: center;
              &.icon-left {
                .material-icons-round {
                  font-size: 16px;
                  margin-right: 8px;
                }
              }
              &.icon-right {
                .material-icons-round {
                  font-size: 16px;
                  margin-left: 8px;
                }
              }
            }
            a {
              text-decoration: none;
              h5 {
                cursor: pointer;
                &.hidden {
                  display: none;
                }
              }
            }
          }
          .rincian {
            display: none;
            .row {
              padding: 16px 0;
              &:not(:last-child) {
                border-bottom: 1px solid #eceff1a3;
              }

              h5 {
                font-weight: 400;
              }
              h4 {
                text-align: right;
                font-family: "DM Mono", sans-serif;
                font-weight: 400;
                letter-spacing: 0.25px;
                color: #7a7a7a;
              }
              &.total {
                h5 {
                  font-weight: 500;
                }
                h4 {
                  font-weight: 500;
                  color: $color-primary;
                  cursor: pointer;
                  width: fit-content;
                }
              }
            }
          }
        }
        &.recap {
          .section-title {
            margin-bottom: 12px;
          }
          .row {
            .col-6 {
              min-height: 68px;
              h5 {
                font-weight: 400;
                color: #7a7a7a;
                &.total {
                  font-weight: 500;
                  color: $color-text;
                }
              }
            }
            .right {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;
              img {
                height: 50px;
                width: 80px;
                max-height: 50px;
                max-width: 80px;
                object-fit: contain;
                margin-right: 6px;
              }
              h5 {
                &.status {
                  font-weight: 500;
                  color: rgba(237, 47, 135, 1);
                }
                &.number {
                  font-family: "DM Mono", sans-serif;
                  letter-spacing: 0.25px;
                }
                &.total {
                  color: $color-primary;
                }
              }
            }
          }
        }
      }
      .buttons {
        margin: 40px auto 44px;
        .row {
          margin: 0 -12px;
          .col-6 {
            padding: 0 12px;
          }
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 68px;
            width: 100%;
            border-radius: 12px;
            p {
              font-weight: 500;
              font-size: 0.875rem;
              line-height: 1.313rem;
            }
          }
        }
      }
      .cara-pembayaran {
        margin: 0 auto;
        .section-title {
          margin: 44px 0 18px;
        }
        .accordion {
          .accordion-item {
            .accordion-header {
              .accordion-button {
                padding: 24px 0;
                background-color: #fff !important;
                box-shadow: none;

                h5 {
                  font-weight: 500;
                }
                &::after {
                  background-image: none;
                  content: url("../img/pembelian-formulir/icon/expand-arrow.svg");
                  width: 16px;
                  height: 16px;
                  margin: auto 8px auto auto;
                }
                &:not(.collapsed) {
                  p {
                    font-weight: 600;
                    color: #001b36;
                  }
                }
              }
            }
            .accordion-collapse {
              .accordion-body {
                padding: 24px 0 40px;
                font-size: 0.778rem;
                line-height: 1.167rem;
                color: #7a7a7a;
                ol {
                  li {
                    padding: 0;
                    display: flex;
                    border: none;
                    margin: 12px 0;
                    &::before {
                      min-width: 25px;
                      text-align: center;
                      margin-right: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  overflow-y: auto;
  .modal-dialog {
    .modal-content {
      background: #ffffff;
      border-radius: 8px;
      box-shadow: none;
      border: none;
      @media (max-width: 550px) {
        margin: 0;
        height: auto;
        min-height: 100%;
        border-radius: 0;
      }
      .modal-header {
        padding: 32px 56px 16px 56px;
        border: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        align-items: flex-start;
        position: relative;
        @media (max-width: 550px) {
          padding: 32px 32px 16px 32px;
        }
        .title-icon {
          margin-right: 16px;
          width: 32px;
          height: 32px;
          max-width: 32px;
          max-height: 32px;
        }
        .btn-modal-close {
          font-size: 10px;
          padding: 0;
          color: #7a7a7a;
          background: #fff !important;
          border: 0;
          outline: none;
          position: absolute;
          right: 1.5rem;
          top: 1.5rem;
          margin: 0;
          @media (max-width: 550px) {
            color: #7a7a7a;
            width: 44px;
            height: 44px;
            font-size: 8px;
            padding-top: 4px;
            border-radius: 50%;
            background: #ffffff;
            border: 1px solid #eceff1;
            box-shadow: 0px 8px 20px rgba(38, 50, 56, 0.08);
          }
        }
      }
      .modal-body {
        padding: 28px 56px;
        @media (max-width: 550px) {
          padding: 28px 32px;
        }
      }
    }
  }
}

.modal-pindah-jalur {
  width: 954px;
  max-width: 954px;
  @media (max-width: 990.98px) {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .modal-body {
    padding-bottom: 40px;
    .body-heading {
      margin-bottom: 24px;
      .alert-box {
        background: #fff4f4;
        border: 1px solid #f0d3d2;
        border-radius: 8px;
        padding: 22px 32px;
        h5 {
          margin-bottom: 4px;
        }
        h6 {
          font-weight: normal;
        }
      }
    }
    .jalur-list {
      &.others {
        max-height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -52px;
        padding-right: 52px;
        @media (max-width: 550px) {
          margin-right: -28px;
          padding-right: 28px;
        }
      }
      .jalur-row {
        padding: 32px 0 0;
        margin: 0 -12px;
        .col {
          padding: 0 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        img {
          width: 100%;
          height: 100%;
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
          border-radius: 6px;
        }
        .title {
          font-weight: 400;
          color: #7a7a7a;
          margin-bottom: 8px;
        }
        .more {
          align-items: flex-end;
          .tag {
            width: 112px;
            max-width: 112px;
            text-align: center;
            padding: 16px;
            background: #e8eef6;
            border-radius: 100px;
            color: #1959a9;
          }
          .button {
            width: 112px;
            max-width: 112px;
            padding: 13px;
            border-radius: 6px;
            justify-content: center;
            p {
              font-weight: 600;
              font-size: 0.722rem;
              line-height: 1.111rem;
            }
          }
        }
        &:not(:last-child) {
          padding-bottom: 40px;
          border-bottom: 1px solid #eceff1;
        }
      }
    }
    hr.body-divider {
      height: 13px;
      background: #eceff1;
      opacity: 0.4;
      border-top: 1px solid #eeeeee;
      margin: 40px -56px;
    }
  }
  .modal-footer {
    justify-content: center;
    background: #fafafa;
    padding: 16px;
    h5 {
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      opacity: 0.8;
      span {
        font-weight: 700;
        opacity: 1;
      }
    }
  }
}

.modal-small {
  .modal-content {
    width: 512px;
    max-width: 512px;
    min-height: fit-content;
    max-height: 100%;

    @media (max-width: 550px) {
      width: 100% !important;
      max-width: 100% !important;
      border-radius: 0;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    .modal-body {
      // min-height: 642px;
      &.with-illus {
        text-align: center;
        min-height: fit-content;
        h2 {
          margin: 8px 0 12px;
        }
        h5 {
          font-family: "Mulish", sans-serif;
          max-width: 370px;
          opacity: 0.64;
          font-weight: 400;
          margin: 0 auto;
        }
        .buttons {
          margin-top: 76px;
          .button {
            width: 100%;
            border-radius: 6px;
            height: 64px;
            justify-content: center;
            align-items: center;
            p {
              font-weight: 600;
              font-size: 0.778rem;
              line-height: 1.167rem;
            }
          }
        }
      }
      &.modal-voucher {
        padding-top: 0;
        h5.header-text {
          font-family: "Mulish", sans-serif;
          opacity: 0.64;
          font-weight: 400;
          width: 100%;
        }
        .form-voucher {
          margin-top: 48px;
          width: 100%;
        }
        .alert {
          padding: 16px;
          border-radius: 8px;
          margin-top: 12px;
          &.success {
            background: #ebf9fc;
            border: 1px solid #98c6cd;
          }
          &.failed {
            background: #fff4f4;
            border: 1px solid #f0d3d2;
          }
          p {
            font-size: 0.8rem;
            line-height: 1.6rem;
            margin-top: 6px;
          }
        }
        .button {
          margin-top: 28px;
          width: 100%;
          border-radius: 6px;
          height: 64px;
          justify-content: center;
          align-items: center;
          p {
            font-weight: 600;
            font-size: 0.778rem;
            line-height: 1.167rem;
          }
        }
        .cancel {
          display: flex;
          height: 64px;
          justify-content: center;
          align-items: center;
          a {
            color: $color-secondary;
            font-weight: 400;
            font-size: 0.722rem;
            line-height: 1.111rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// responsive
@media (max-width: 991.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        .info-jalur-pembayaran {
          .col {
            .row {
              .col {
                padding: 6px 12px;
                h5 {
                  margin-top: 6px;
                }
              }
            }
          }
        }
        .select-metode {
          .title {
            margin-bottom: 8px;
          }
          .select {
            padding: 0;
            .form-select-pmb {
              width: calc(100% - 128px);
            }
            .button {
              width: 112px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        .promo-voucher {
          .voucher {
            .col-12 {
              &.left {
                border: 1px solid #dadce0;
                border-bottom: none;
              }
              &.right {
                border: 1px solid #dadce0;
                border-top: 2px dashed #dadce0;
              }
            }
            &.active {
              .col-12 {
                &.left {
                  border: 1px solid $color-primary;
                  border-bottom: none;
                }
                &.right {
                  border: 1px solid $color-primary;
                  border-top: 2px dashed $color-primary;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-pindah-jalur {
    .modal-body {
      .body-heading {
        .alert-box {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }
      }
      .jalur-list {
        .jalur-row {
          .col {
            padding: 12px;
          }
          img {
            max-height: 240px;
          }
          .title {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        .pilihan-pembayaran {
          .pilihan-list {
            .pilihan-item {
              .right {
                img {
                  max-width: 80px;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-pindah-jalur {
    .modal-body {
      .jalur-list {
        .jalur-row {
          .col {
            padding: 12px 24px;
          }
          img {
            max-height: 200px;
          }
          .more {
            width: 100%;
            .tag {
              width: 100%;
              max-width: 100%;
            }
            .button {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
