main#pendaftaran {
  .main-pendaftaran {
    .card-main-pendaftaran {
      .info-pembayaran {
        position: relative;
        margin: 40px -6px 0;
        padding: 16px 24px;
        background: linear-gradient(
          180deg,
          rgba(242, 247, 254, 0) 37.68%,
          #f2f7fe 118.12%
        );
        border-radius: 6px;
        min-height: 140px;
        .col {
          padding: 0 6px;
          .row {
            margin: 0 -12px;
            padding: 0;
            .col {
              padding: 0 12px;
              h6 {
                font-weight: 400;
                a {
                  color: $color-secondary;
                  font-size: 0.667;
                  margin-left: 8px;
                }
              }
              h5 {
                font-weight: 500;
                margin-top: 8px;
              }
            }
          }
          &.img {
            img {
              position: absolute;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
      .select-metode {
        margin: 44px 0;

        .title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0;
          h5 {
            font-weight: 400;
            color: #7a7a7a;
            margin-top: 4px;
          }
        }
        .select {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding-right: 0;
          .form-select-pmb {
            margin: 0px;
            width: calc(100% - 150px);
            select {
              width: 100%;
            }
          }
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 58px;
            margin-left: 16px;
            width: 134px;
            border-radius: 6px;
            p {
              font-weight: 500;
              font-size: 0.778rem;
              line-height: 1.167rem;
            }
          }
        }
      }
      hr.card-divider {
        height: 13px;
        background: #eceff1;
        opacity: 0.4;
        border-top: 1px solid #eeeeee;
        margin: 0 -64px;
        &#metode-divider {
          display: none;
        }
      }
      .pilihan-pembayaran {
        display: none;
        padding: 44px 0;
        .section-title {
          margin-bottom: 32px;
        }
        .pilihan-list {
          .pilihan-item {
            padding: 6px 16px;
            background: #ffffff;
            border: 1px solid #dadce0;
            border-radius: 8px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:not(:last-child) {
              margin-bottom: 24px;
            }
            &:hover {
              cursor: pointer;
              border: 1px solid #bdbdbd;
            }

            .left {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .material-icons-round {
                margin-right: 18px;
                color: #bec2c3;
              }
              .desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .name {
                  font-weight: 500;
                }
                .fee {
                  font-weight: 400;
                  color: #7a7a7a;
                  margin-top: 2px;
                }
              }
            }
            .right {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              img {
                height: 76px;
                max-height: 76px;
                width: auto;
                object-fit: contain;
              }
            }
            &.active {
              border: 1px solid $color-primary;
              .left {
                .material-icons-round {
                  color: $color-primary;
                }
                .desc {
                  .name {
                    font-weight: 600;
                    color: $color-primary;
                  }
                }
              }
            }
          }
        }
      }
      .transfer-bank {
        display: none;
        padding: 44px 0;
        .section-title {
          margin-bottom: 32px;
        }
        .notify {
          background: #fefefc;
          box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.06);
          border-radius: 4px;
          border-top: 4px solid $color-ternary;
          padding: 24px 24px 20px;
          position: relative;
          overflow: hidden;
          h5 {
            display: flex;
            align-items: center;
            .material-icons-round {
              margin-right: 16px;
              color: $color-ternary;
              font-size: 18px;
            }
          }
        }
        .sub-title {
          margin: 24px 0;
        }
        .ketentuan-list {
          .ketentuan-item {
            margin: 0 -6px;
            &:not(:last-child) {
              margin-bottom: 24px;
            }
            .col {
              padding: 0 6px;
              .material-icons-round {
                color: $color-ternary;
                font-size: 12px;
                line-height: 1.167rem;
              }
              &.content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h5 {
                  font-weight: 400;
                  color: #7a7a7a;
                }
                .banks {
                  margin: 22px -2px -2px;
                  .bank {
                    padding: 2px;
                    height: 45px;
                    width: 71px;
                    max-height: 45px;
                    max-width: 71px;
                    border: 1px solid #f5f6f8;
                    border-radius: 2px;
                    overflow: hidden;
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                    }
                  }
                }
              }
            }
          }
        }
        &.waiting {
          display: block;
          border: 1px solid #eceff1;
          border-radius: 8px;
          margin: 44px auto;
          padding: 24px;
          .sub-title {
            margin: 0;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid #eceff1;
          }
        }
      }
      .promo-voucher {
        padding: 44px 0;
        .section-title {
          margin-bottom: 44px;
        }
        .voucher {
          outline-offset: -2px;
          margin: 0;
          padding: 0;
          position: relative;
          overflow: hidden;
          .col-12 {
            display: flex;
            align-items: center;
            padding: 24px 32px;
            border: 1px solid #dadce0;
            border-radius: 8px;
            .text {
              margin-left: 16px;
              .bottom {
                margin-top: 4px;
                font-weight: 400;
                color: #7a7a7a;
              }
            }
            &.left {
              border-right: none;
            }
            &.right {
              justify-content: flex-end;
              border-left: 2px dashed #dadce0;
              a {
                display: flex;
                align-items: center;
                color: $color-primary;
                cursor: pointer;
                i,
                h5 {
                  color: $color-primary;
                }
                i {
                  margin-left: 12px;
                }
              }
            }
          }
          .cutout {
            padding: 0;
            position: absolute;
            width: 16px;
            height: 16px;
            background: #fff;
            border: 1px solid #dadce0;
            border-radius: 100%;
            &.top {
              top: -8.5px;
            }
            &.bot {
              bottom: -8.5px;
            }
            &.mid {
              left: calc(50% - 7px);
            }
            &.stop {
              top: calc(25% - 7px);
            }
            &.smid {
              top: calc(50% - 7px);
            }
            &.sbot {
              top: calc(75% - 7px);
            }
            &.left {
              left: -7px;
            }
            &.right {
              right: -7px;
            }
          }
          &.active {
            .col-12 {
              border: 1px solid $color-primary;
              &.left {
                h6:not(.bottom) {
                  color: $color-primary;
                }
                border-right: none;
              }
              &.right {
                border-left: 2px dashed $color-primary;
              }
            }
            .cutout {
              border: 1px solid $color-primary;
            }
          }
        }
      }
      .detail-pembayaran {
        padding: 44px 0;
        .section-title {
          margin-bottom: 12px;
        }
        .list-detail {
          .item-pembayaran {
            padding: 20px 0;
            .description,
            .nominal {
              font-weight: 400;
              color: #7a7a7a;
            }
            .nominal {
              font-family: "DM Mono", sans-serif;
              text-align: right;
              letter-spacing: 0.25px;
            }
            &.total {
              .description {
                color: #404852;
                font-weight: 500;
              }
              .nominal {
                color: $color-danger;
                font-weight: 500;
              }
            }
            &:not(:last-child) {
              border-bottom: 1px solid #eceff1a3;
            }
          }
        }
      }
      // waiting
      img.bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        width: 100%;
        // z-index: 0;
      }

      .ilustrasi {
        text-align: center;
        padding: 40px 0;
        img {
          margin: 16px 0 44px;
          max-width: 60%;
        }
        h2 {
          width: 320px;
          max-width: 100%;
          letter-spacing: 0.25px;
          margin: 0 auto;
        }
        h3 {
          margin-top: 12px;
          color: $color-danger;
        }
        h5 {
          margin: 12px auto 0;
          width: 400px;
          max-width: 100%;
          line-height: 1.67rem;
          font-weight: 400;
        }
        &.recap {
          h2 {
            width: 400px;
            max-width: 100%;
          }
          &.cancelled {
            img {
              margin: 24px 0 0;
            }
          }
        }
      }

      .payment-details {
        margin: 0 auto;
        padding: 32px 0;
        .row {
          &:not(:last-child) {
            border-bottom: 1px solid #eceff1a3;
          }
          .col-6 {
            padding-top: 16px;
            padding-bottom: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 124px;
          }
          .left {
            .row-subtitle {
              margin-top: 12px;
              font-weight: 400;
              color: #7a7a7a;
            }
            .total-number {
              color: $color-primary;
              font-family: "DM Mono", sans-serif;
              font-weight: 500;
              cursor: pointer;
              width: fit-content;
            }
          }
          .right {
            align-items: flex-end;
            img {
              height: 95px;
              width: 150px;
              max-height: 95px;
              max-width: 150px;
              object-fit: contain;
            }
            h5 {
              font-weight: 500;
              color: #7a7a7a;
              display: flex;
              align-items: center;
              &.icon-left {
                .material-icons-round {
                  font-size: 16px;
                  margin-right: 8px;
                }
              }
              &.icon-right {
                .material-icons-round {
                  font-size: 16px;
                  margin-left: 8px;
                }
              }
            }
            a {
              text-decoration: none;
              h5 {
                cursor: pointer;
                &.hidden {
                  display: none;
                }
              }
            }
          }
          .rincian {
            display: none;
            .row {
              padding: 16px 0;
              &:not(:last-child) {
                border-bottom: 1px solid #eceff1a3;
              }

              h5 {
                font-weight: 400;
              }
              h4 {
                text-align: right;
                font-family: "DM Mono", sans-serif;
                font-weight: 400;
                letter-spacing: 0.25px;
                color: #7a7a7a;
              }
              &.discount {
                h4 {
                  text-decoration: line-through;
                }
              }
              &.total {
                h5 {
                  font-weight: 500;
                }
                h4 {
                  font-weight: 500;
                  color: $color-primary;
                  cursor: pointer;
                  width: fit-content;
                  margin-left: auto;
                }
              }
            }
          }
        }
        &.recap {
          .section-title {
            margin-bottom: 12px;
          }
          .row {
            .col-6 {
              min-height: 68px;
              h5 {
                font-weight: 400;
                color: #7a7a7a;
                &.total {
                  font-weight: 500;
                  color: $color-text;
                }
              }
            }
            .right {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;
              img {
                height: 50px;
                width: 80px;
                max-height: 50px;
                max-width: 80px;
                object-fit: contain;
                margin-right: 6px;
              }
              h5 {
                &.status {
                  &.expired {
                    font-weight: 500;
                    color: rgba(237, 47, 135, 1);
                  }
                  &.success {
                    font-weight: 400;
                    span {
                      color: #00cdac;
                    }
                  }
                }
                &.number {
                  font-family: "DM Mono", sans-serif;
                  letter-spacing: 0.25px;
                }
                &.total {
                  color: $color-primary;
                }
              }
            }
          }
        }
      }
      .buttons {
        margin: 40px auto 44px;
        .row {
          margin: 0 -12px;
          .col {
            padding: 0 12px;
          }
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 68px;
            height: fit-content;
            width: 100%;
            border-radius: 12px;
            p {
              font-weight: 500;
              font-size: 0.875rem;
              line-height: 1.313rem;
            }
          }
        }
      }
      .cara-pembayaran {
        margin: 0 auto;
        .section-title {
          margin: 44px 0 18px;
        }
        .accordion {
          .accordion-item {
            .accordion-header {
              .accordion-button {
                padding: 24px 0;
                background-color: #fff !important;
                box-shadow: none;

                h5 {
                  font-weight: 500;
                }
                &::after {
                  background-image: none;
                  content: url("../img/pembelian-formulir/icon/expand-arrow.svg");
                  width: 16px;
                  height: 16px;
                  margin: auto 8px auto auto;
                }
                &:not(.collapsed) {
                  p {
                    font-weight: 600;
                    color: #001b36;
                  }
                }
              }
            }
            .accordion-collapse {
              .accordion-body {
                padding: 24px 0 40px;
                font-size: 0.778rem;
                line-height: 1.167rem;
                color: #7a7a7a;
                ol {
                  li {
                    padding: 0;
                    display: flex;
                    border: none;
                    margin: 12px 0;
                    &::before {
                      min-width: 25px;
                      text-align: center;
                      margin-right: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      //// biaya kuliah

      .kategori-biaya {
        padding: 56px 0;
        margin: 0;
        &.desktop {
          @media (max-width: 767.98px) {
            display: none;
          }
          .section-title {
            margin-bottom: 16px;
          }
          .nav-pills {
            padding-right: 32px;
            border-radius: 12px;

            .nav-link {
              display: flex;
              flex-direction: row;
              width: 100%;
              align-items: center;
              justify-content: flex-start;
              padding: 14px 16px;
              &:not(:last-child) {
                margin-bottom: 16px;
              }
              .icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                margin-right: 16px;
                background: rgba(82, 82, 152, 0.12);
                border-radius: 8px;
                transition: color 0.15s ease;
                .material-icons-round {
                  font-size: 12px;
                  color: #525298;
                  transition: color 0.15s ease;
                }
              }
              h5 {
                color: $color-text;
                font-weight: 400;
                text-align: left;
              }
              &.active {
                background: #f5f6f8;
                .icon-wrapper {
                  background: #7849ff;
                  .material-icons-round {
                    color: #fff;
                  }
                }
              }
            }
          }
          .tab-content {
            padding: 0;
            padding-left: 32px;
            .rincian-biaya {
              padding: 18px 0;
              &:not(:last-child) {
                border-bottom: 1px solid #eceff1;
              }
              .col-4 {
                h5 {
                  font-weight: 400;
                  color: #7a7a7a;
                  -ms-word-break: break-all;
                  word-break: break-all;
                  word-break: break-word;
                  -webkit-hyphens: auto;
                  -moz-hyphens: auto;
                  -ms-hyphens: auto;
                  hyphens: auto;
                }
                &.number {
                  h5 {
                    font-weight: 500;
                    font-family: "DM Mono", sans-serif;
                    text-align: right;
                    color: $color-text;
                  }
                }
              }
            }
          }
        }
        &.mobile {
          @media (min-width: 768px) {
            display: none;
          }
          .accordion {
            .accordion-item {
              border-radius: 8px;
              border: 1px solid #e5e5eb;

              &:not(:last-child) {
                margin-bottom: 24px;
              }
              .accordion-header {
                border-radius: 8px;
                border: 1px solid #e5e5eb;
                margin: -1px;

                .accordion-button {
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 14px 16px;
                  border-radius: 8px;
                  background: #f5f6f8;
                  box-shadow: none;
                  position: relative;
                  .icon-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    margin-right: 16px;
                    background: rgba(82, 82, 152, 0.12);
                    border-radius: 8px;
                    transition: color 0.15s ease;
                    .material-icons-round {
                      font-size: 12px;
                      color: #525298;
                      transition: color 0.15s ease;
                    }
                  }
                  h5 {
                    color: $color-text;
                    font-weight: 400;
                    text-align: left;
                  }
                  .arrow {
                    position: absolute;
                    right: 16px;
                    top: calc(50% - 12px);
                    font-size: 16px;
                    line-height: 24px;
                  }
                  &:not(.collapsed) {
                    .icon-wrapper {
                      background: #7849ff;
                      .material-icons-round {
                        color: #fff;
                      }
                    }
                    .arrow {
                      transform: rotate(180deg);
                      color: #7849ff;
                    }
                  }
                  &::after {
                    background: none;
                  }
                }
              }
              .accordion-collapse {
                .accordion-body {
                  .rincian-biaya {
                    padding: 18px 0;
                    &:not(:last-child) {
                      border-bottom: 1px solid #eceff1;
                    }
                    .col-6 {
                      h5 {
                        font-weight: 400;
                        color: #7a7a7a;
                        -ms-word-break: break-all;
                        word-break: break-all;
                        word-break: break-word;
                        -webkit-hyphens: auto;
                        -moz-hyphens: auto;
                        -ms-hyphens: auto;
                        hyphens: auto;
                      }
                      &.number {
                        h5 {
                          font-weight: 500;
                          font-family: "DM Mono", sans-serif;
                          text-align: right;
                          color: $color-text;
                        }
                      }
                      @media (max-width: 575.98px) {
                        &.info {
                          h5 {
                            margin-top: 4px;
                            font-size: 0.722rem; //13
                            line-height: 1rem;
                            color: #bdbdbd;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .ketentuan-perkuliahan {
        padding: 44px 0;
        .section-title {
          margin-bottom: 32px;
        }
        ol {
          padding-left: 22px;
          li {
            position: relative;
            font-weight: normal;
            font-size: 0.778rem; //14
            line-height: 1.55rem;
            color: #7a7a7a;
            padding-left: 8px;
            &:not(:last-child) {
              margin-bottom: 12px;
            }
            &:before {
              position: absolute;
              left: -5px;
            }
          }
        }
      }
      .form-check-ketentuan {
        margin-bottom: 100px;
        .form-check-input:checked {
          background-color: $color-primary;
          border-color: $color-primary;
          box-shadow: none;
        }
        input {
          box-shadow: none;
          border-radius: 3px;
          cursor: pointer;
        }
        .form-check {
          .form-check-label {
            h5 {
              font-weight: 400;
            }
          }
        }
      }
      .jenis-pembayaran {
        padding: 44px 0;
        .section-title {
          margin-bottom: 32px;
        }
        .pilihan-tagihan {
          background: #ffffff;
          border: 1px solid #dadce0;
          border-radius: 8px;
          min-height: 88px;
          margin: 0;
          .col-6 {
            padding: 20px 24px;
            display: flex;
            align-items: center;
            &.right {
              justify-content: flex-end;
            }
            &.left {
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
            }
            h5 {
              font-weight: 500;
            }
            h6 {
              margin-top: 4px;
              font-weight: 400;
              color: #7a7a7a;
            }
            a {
              display: flex;
              align-items: center;
              color: $color-primary;
              text-decoration: none;
              cursor: pointer;
              span {
                font-size: 0.778rem;
                line-height: 1.167rem;
                text-decoration: underline;
                font-weight: 600;
              }
              .material-icons-round {
                text-decoration: none;
                margin-left: 10px;
                font-size: 0.778rem; //14
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  overflow-y: auto;
  .modal-dialog {
    .modal-content {
      background: #ffffff;
      border-radius: 8px;
      box-shadow: none;
      border: none;
      @media (max-width: 550px) {
        margin: 0;
        height: auto;
        min-height: 100%;
        border-radius: 0;
      }
      .modal-header {
        padding: 32px 56px 16px 56px;
        border: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        align-items: flex-start;
        position: relative;
        @media (max-width: 550px) {
          padding: 32px 32px 16px 32px;
        }
        .title-icon {
          margin-right: 16px;
          width: 32px;
          height: 32px;
          max-width: 32px;
          max-height: 32px;
        }
        .btn-modal-close {
          font-size: 10px;
          padding: 0;
          color: #7a7a7a;
          background: #fff !important;
          border: 0;
          outline: none;
          position: absolute;
          right: 1.5rem;
          top: 1.5rem;
          margin: 0;
          @media (max-width: 550px) {
            color: #7a7a7a;
            width: 44px;
            height: 44px;
            font-size: 8px;
            padding-top: 4px;
            border-radius: 50%;
            background: #ffffff;
            border: 1px solid #eceff1;
            box-shadow: 0px 8px 20px rgba(38, 50, 56, 0.08);
          }
        }
      }
      .modal-body {
        padding: 28px 56px;
        @media (max-width: 550px) {
          padding: 28px 32px;
        }
        .body-heading {
          margin-bottom: 24px;
          .alert-box {
            background: #fff4f4;
            border: 1px solid #f0d3d2;
            border-radius: 8px;
            padding: 22px 32px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            h5 {
              margin-bottom: 4px;
            }
            h6 {
              font-weight: normal;
            }
          }
        }
        hr.body-divider {
          height: 13px;
          background: #eceff1;
          opacity: 0.4;
          border-top: 1px solid #eeeeee;
          margin: 40px -56px;
        }
      }
    }
  }
}

.modal-pindah-jalur {
  width: 954px;
  max-width: 954px;
  @media (max-width: 990.98px) {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .modal-body {
    padding-bottom: 40px;
    .jalur-list {
      &.others {
        max-height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: -52px;
        padding-right: 52px;
        @media (max-width: 550px) {
          margin-right: -28px;
          padding-right: 28px;
        }
      }
      .jalur-row {
        padding: 32px 0 0;
        margin: 0 -12px;
        .col {
          padding: 0 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        img {
          width: 100%;
          height: 100%;
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
          border-radius: 6px;
        }
        .title {
          font-weight: 400;
          color: #7a7a7a;
          margin-bottom: 8px;
        }
        .more {
          align-items: flex-end;
          .tag {
            width: 112px;
            max-width: 112px;
            text-align: center;
            padding: 16px;
            background: #e8eef6;
            border-radius: 100px;
            color: #1959a9;
          }
          .button {
            width: 112px;
            max-width: 112px;
            padding: 13px;
            border-radius: 6px;
            justify-content: center;
            p {
              font-weight: 600;
              font-size: 0.722rem;
              line-height: 1.111rem;
            }
          }
        }
        &:not(:last-child) {
          padding-bottom: 40px;
          border-bottom: 1px solid #eceff1;
        }
      }
    }
  }
  .modal-footer {
    justify-content: center;
    background: #fafafa;
    padding: 16px;
    h5 {
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      opacity: 0.8;
      span {
        font-weight: 700;
        opacity: 1;
      }
    }
  }
}

.modal-pilih-tagihan {
  width: 954px;
  max-width: 954px;
  @media (max-width: 990.98px) {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .modal-body {
    padding-bottom: 40px;
    hr.body-divider {
      margin: 32px 0 !important;
    }
    .form-check-input {
      border: 4px solid $color-primary;
      border-radius: 6px;
      height: 16px;
      width: 16px;
      margin: 0;
      cursor: pointer;
      &:checked {
        background-color: $color-primary;
        border: none;
        box-shadow: none;
      }
      &:focus,
      &:active {
        box-shadow: none;
      }
    }
    .heading {
      margin: 0;
      .form-check {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        label {
          cursor: pointer;
          margin-left: 16px;
          h5 {
            font-weight: 500;
          }
        }
      }
      .right {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
          text-decoration: none;
          cursor: pointer;
          h5 {
            color: $color-secondary;
          }
        }
      }
    }
    .group-tagihan {
      .row {
        margin: 0 -8px;
        .col {
          padding: 0 8px;
          &.icon {
            max-width: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &.group-heading {
          margin-bottom: 32px;
          h5 {
            font-weight: 500;
          }
          .icon {
            .icon-wrapper {
              width: 24px;
              height: 24px;
              background: #5f30e2;
              border-radius: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              .material-icons-round {
                font-size: 12px;
                color: #fff;
              }
            }
          }
          .content {
            .row {
              display: flex;
              align-content: center;
              height: 100%;
              .col {
                display: flex;
                align-content: center;
              }
            }
          }
        }
        &.group-item {
          &:not(:last-child) {
            margin-bottom: 32px;
          }
          h5 {
            font-weight: 400;
            color: #7a7a7a;
          }
          .icon {
            .material-icons-round {
              font-size: 16px;
              color: $color-primary;
            }
          }
          .content {
            .row {
              .col {
                display: flex;
                align-content: center;
                &.number {
                  h5 {
                    font-family: "DM Mono", sans-serif !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-footer {
    background: #fafafa;
    padding: 16px 56px;
    margin: 0;
    .col-12 {
      padding: 0;
      margin: 0;
      display: flex;
      &.left {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      &.right {
        justify-content: flex-end;
        align-items: center;
      }
      h5 {
        font-weight: 500;
      }
      h3 {
        font-family: "DM Mono", sans-serif;
        font-weight: 500;
        color: $color-primary;
        margin-top: 10px;
      }
      .button {
        border-radius: 6px;
        height: 48px;
      }
    }
    h5 {
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      opacity: 0.8;
      span {
        font-weight: 700;
        opacity: 1;
      }
    }
  }
}

.modal-bukti-bayar {
  width: 954px;
  max-width: 954px;
  @media (max-width: 990.98px) {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .modal-content {
    .modal-body {
      padding: 0 !important;
      .invoice-header {
        margin: 0;
        padding: 0;
        border-top: $color-primary solid 6px;
        border-radius: 8px;
        .left {
          padding: 0;
          margin-top: -6px;
          .logo-wrapper {
            width: 100%;
            min-height: 148px;
            padding: 20px 56px;
            background: $color-primary;
            border-radius: 0px 0px 100px 0px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img {
              height: 110px;
              width: auto;
              max-width: 100%;
              object-fit: contain;
            }
          }
          .campus-info {
            padding: 16px 56px;
            .item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              &:not(:last-child) {
                margin-bottom: 16px;
              }
              h6 {
                color: #7a7a7a;
                font-weight: 400;
                max-width: 245px;
              }
              .material-icons-round {
                color: #dedede;
                margin-right: 16px;
                font-size: 20px;
              }
            }
          }
        }
        .right {
          margin-top: -6px;
          padding: 56px;
          text-align: right;
          .invoice {
            &.title {
              font-size: 1.556rem;
              line-height: 2.333rem;
            }
            &.code {
              color: $color-primary;
              font-weight: 500;
              margin: 16px 0;
            }
            &.date {
              color: #7a7a7a;
              font-weight: 400;
              margin-bottom: 4px;
            }
            &.method {
              color: #7a7a7a;
              font-weight: 400;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              img {
                margin-left: 4px;
                height: 40px;
                width: 80px;
                object-fit: contain;
              }
            }
          }
        }
      }
      .invoice-table {
        margin: 56px 0;
        border-top: 1px solid #eee;
        background-position: center !important;
        background-repeat: no-repeat !important;
        .col {
          padding: 0;
        }
        .table-heading {
          margin: 0;
          padding: 16px 56px;
          background: #f7f9f9;
        }
        .content-wrapper {
          padding: 24px 56px;

          .table-content {
            margin: 0;
            padding: 16px 0;
            &:not(:last-child) {
              border-bottom: 1px solid #eceff1;
            }
            h5,
            h6 {
              font-weight: 400;
              color: #7a7a7a;
            }
            .number {
              text-align: right;
              font-family: "DM Mono", sans-serif;
              &.discount {
                text-decoration: line-through;
              }
            }
          }
        }
        .table-total {
          margin: 24px 56px 0;
          border-top: 1px solid #cfd8dc;
          padding: 40px 0;
          justify-content: flex-end;
          h5,
          h4 {
            font-weight: 500;
          }
          .number {
            text-align: right;
            font-family: "DM Mono", sans-serif;
            h5 {
              color: $color-primary;
            }
          }
        }
      }
      .invoice-footer {
        margin: 0;
        padding: 0 56px;
        .col {
          padding: 0;
          align-items: center;
          .section-title {
            margin-bottom: 20px;
          }
          ol {
            padding-left: 22px;
            li {
              position: relative;
              font-weight: 400;
              font-size: 0.722rem; //13
              line-height: 1rem;
              color: #7a7a7a;
              padding-left: 8px;
              &:not(:last-child) {
                margin-bottom: 16px;
              }
              &:before {
                position: absolute;
                left: -5px;
              }
            }
          }
          &.signature {
            justify-content: center;
            align-items: center;
            text-align: center;
            .date {
              color: #7a7a7a;
              font-weight: 400;
            }
            .role {
              color: #7a7a7a;
              font-weight: 600;
            }
            .name {
              font-weight: name;
            }
            img {
              margin: 24px 0;
              width: 150px;
              height: 100px;
              object-fit: contain;
            }
          }
        }
      }
      .buttons {
        margin: 103px auto 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 68px;
          height: fit-content;
          width: fit-content;
          min-width: 144px;
          border-radius: 12px;
          margin: 0 12px;
          p {
            font-weight: 600;
            font-size: 0.778rem; //14
            line-height: 1.167rem;
          }
        }
      }
    }
  }
}

.modal-small {
  .modal-content {
    width: 512px;
    max-width: 512px;
    min-height: fit-content;
    max-height: 100%;

    @media (max-width: 550px) {
      width: 100% !important;
      max-width: 100% !important;
      border-radius: 0;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    .modal-body {
      // min-height: 642px;
      &.with-illus {
        text-align: center;
        min-height: fit-content;
        h2 {
          margin: 8px 0 12px;
        }
        h5 {
          font-family: "Mulish", sans-serif;
          max-width: 370px;
          opacity: 0.64;
          font-weight: 400;
          margin: 0 auto;
        }
        .buttons {
          margin-top: 76px;
          .button {
            width: 100%;
            border-radius: 8px;
            height: 64px;
            justify-content: center;
            align-items: center;
            p {
              font-weight: 600;
              font-size: 0.778rem;
              line-height: 1.167rem;
            }
          }
        }
      }
      &.modal-voucher {
        padding-top: 0;
        h5.header-text {
          font-family: "Mulish", sans-serif;
          opacity: 0.64;
          font-weight: 400;
          width: 100%;
        }
        .form-voucher {
          margin-top: 48px;
          width: 100%;
        }
        .alert {
          padding: 16px;
          border-radius: 8px;
          margin-top: 12px;
          &.success {
            background: #ebf9fc;
            border: 1px solid #98c6cd;
          }
          &.failed {
            background: #fff4f4;
            border: 1px solid #f0d3d2;
          }
          p {
            font-size: 0.8rem;
            line-height: 1.6rem;
            margin-top: 6px;
          }
        }
        .button {
          margin-top: 28px;
          width: 100%;
          border-radius: 6px;
          height: 64px;
          justify-content: center;
          align-items: center;
          p {
            font-weight: 600;
            font-size: 0.778rem;
            line-height: 1.167rem;
          }
        }
        .cancel {
          display: flex;
          height: 64px;
          justify-content: center;
          align-items: center;
          a {
            color: $color-secondary;
            font-weight: 400;
            font-size: 0.722rem;
            line-height: 1.111rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// responsive
@media (max-width: 991.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        .info-pembayaran {
          .col {
            .row {
              .col {
                padding: 6px 12px;
                h5 {
                  margin-top: 6px;
                }
              }
            }
          }
        }
        .select-metode {
          .title {
            margin-bottom: 8px;
          }
          .select {
            padding: 0;
            .form-select-pmb {
              width: calc(100% - 128px);
            }
            .button {
              width: 112px;
            }
          }
        }
        .kategori-biaya {
          .nav-pills {
            padding-right: 12px;
          }
          .tab-content {
            padding-left: 12px;
            .rincian-biaya {
              .col-4 {
                padding: 0 6px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        hr.card-divider {
          margin: 0 -32px;
        }
        .promo-voucher {
          .voucher {
            .col-12 {
              &.left {
                border: 1px solid #dadce0;
                border-bottom: none;
              }
              &.right {
                border: 1px solid #dadce0;
                border-top: 2px dashed #dadce0;
              }
            }
            &.active {
              .col-12 {
                &.left {
                  border: 1px solid $color-primary;
                  border-bottom: none;
                }
                &.right {
                  border: 1px solid $color-primary;
                  border-top: 2px dashed $color-primary;
                }
              }
            }
          }
        }
        .buttons {
          .row {
            .button {
              min-height: 100%;
            }
          }
        }
      }
    }
  }
  .modal-pindah-jalur {
    .modal-body {
      .jalur-list {
        .jalur-row {
          .col {
            padding: 12px;
          }
          img {
            max-height: 240px;
          }
          .title {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        .pilihan-pembayaran {
          .pilihan-list {
            .pilihan-item {
              .right {
                img {
                  max-width: 80px;
                }
              }
            }
          }
        }
        .buttons {
          .row {
            .col-12 {
              padding: 6px 12px;
            }
          }
        }
        .payment-details {
          .row {
            .left {
              .row-subtitle {
                -ms-word-break: break-all;
                word-break: break-all;
                word-break: break-word;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
              }
            }
            .right {
              img {
                width: 80px;
                max-width: 100%;
              }
            }
          }
          &.recap {
            .row {
              .right {
                img {
                  width: 30px;
                  max-width: 100%;
                }
              }
            }
          }
        }
        .pilihan-tagihan {
          .col-6 {
            padding: 12px 16px !important;
          }
        }
      }
    }
  }
  .modal-pindah-jalur {
    .modal-body {
      .jalur-list {
        .jalur-row {
          .col {
            padding: 12px 24px;
          }
          img {
            max-height: 200px;
          }
          .more {
            width: 100%;
            .tag {
              width: 100%;
              max-width: 100%;
            }
            .button {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  .modal-pilih-tagihan {
    .modal-body {
      .group-tagihan {
        .row {
          &.group-heading {
            .content {
              .row {
                .col-sm-4,
                .col-sm-3 {
                  display: none;
                }
              }
            }
          }
          &.group-item {
            .content {
              .row {
                .col {
                  &:not(:last-child) {
                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .modal-footer {
      .col-12 {
        &.left {
          margin-bottom: 12px;
          align-items: flex-end;
        }
        h3 {
          margin-top: 6px;
        }
      }
    }
  }
}
