main#pendaftaran {
  .main-pendaftaran {
    .card-main-pendaftaran {
      .notify {
        background: #fefefc;
        box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.06);
        border-radius: 4px;
        border-top: 4px solid $color-ternary;
        padding: 24px 24px 20px;
        position: relative;
        overflow: hidden;
        margin-top: 56px;
        h5 {
          display: flex;
          align-items: center;
          .material-icons-round {
            margin-right: 16px;
            color: $color-ternary;
            font-size: 18px;
          }
        }
      }
      .kartu-peserta {
        background: #fafafa;
        border-radius: 16px;
        margin: 44px 0;
        .kartu-img {
          position: relative;
          padding: 0;
          img {
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
          }
          .overlay {
            border-radius: 16px 0 0 16px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 65%,
              rgba(0, 0, 0, 0.85) 95%,
              rgba(0, 0, 0, 1) 100%
            );

            .id {
              position: absolute;
              bottom: 28px;
              left: 32px;
              width: calc(100% - 64px);
              h5 {
                color: #fff;
                font-weight: 500;
                &.nim {
                  color: #ffffffa3;
                }
                &.name {
                  margin-top: 4px;
                }
              }
            }
          }
        }
        .kartu-content-wrapper {
          padding: 48px 32px;
          .content-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
              font-weight: 500;
            }
            .material-icons-outlined {
              font-size: 1.111rem;
              color: #000;
              text-decoration: none;
              cursor: pointer;
            }
          }
          .kartu-content {
            .col-12 {
              margin-top: 48px;
              p.label {
                color: #7a7a7a;
                align-items: center;
                span {
                  margin-right: 10px;
                  font-size: 0.667rem;
                  line-height: 1rem;
                }
              }
              h6 {
                margin-top: 4px;
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
      .jadwal-seleksi {
        .section-subtitle {
          margin-top: 8px;
          font-weight: 400;
          color: #7a7a7a;
          b {
            font-weight: 600;
          }
        }
        .list-jadwal {
          padding-top: 12px;
          .row {
            padding: 32px 0;
            &:not(:last-child) {
              border-bottom: 1px solid #eceff1cc;
            }
            &:last-child {
              padding-bottom: 0;
            }
            .left {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .icon {
                min-width: 40px;
                min-height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1.33rem;
                background: #eceff1;
                i {
                  font-size: 14px;
                  color: #5a45be;
                }
              }
              .text {
                h5 {
                  &.name {
                    font-weight: 500;
                  }
                  &.time {
                    font-weight: 400;
                    margin-top: 4px;
                    color: #7a7a7a;
                  }
                }
              }
            }
            .right {
              .status {
                width: 100%;
                &.online {
                  max-width: 180px;
                  a {
                    display: flex;
                    align-items: center;
                    color: $color-primary;
                    font-weight: 600;
                    .pmb-icon {
                      text-decoration: none;
                      font-size: 10px;
                      &.pmb-zoom-icon {
                        color: $color-primary;
                        margin-right: 12px;
                      }
                      &.pmb-icon-link-to {
                        margin-left: auto;
                      }
                    }
                  }
                }
                &.offline {
                  color: $color-secondary;
                  display: flex;
                  align-items: center;
                  .material-icons-round {
                    font-size: 14px;
                    margin-right: 10px;
                  }
                }
              }
              .note {
                margin-top: 10px;
                font-weight: 400;
                color: #7a7a7a;
              }
            }
          }
        }
      }
      .ilustrasi {
        &.seleksi {
          img {
            margin-bottom: 24px;
          }
          padding-bottom: 0;
          &.hasil {
            padding: 40px 0;
            img {
              margin: 0;
            }
          }
          &.lolos {
            background: url("../img/seleksi/bg-hasil-seleksi.svg");
            background-size: cover;
            background-repeat: no-repeat;
            img {
              margin-top: 24px;
            }
          }
        }
      }
      .waiting-hasil-seleksi {
        text-align: center;
        margin: 0 auto;
        .section-title {
          margin-bottom: 12px;
        }
        .text {
          font-weight: 400;
          line-height: 1.445rem;
          color: #7a7a7a;
        }
        .alert-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: #fff4f4;
          border: 1px solid #f0d3d2;
          border-radius: 8px;
          box-shadow: none;
          margin-top: 36px;
        }
        .note {
          margin-top: 12px;
          text-align: left;
          font-weight: 400;
        }
      }
      .hasil-seleksi-heading {
        margin: 0 auto;
        text-align: center;
        h5 {
          margin-top: 16px;
          font-weight: 400;
          span {
            font-weight: 700;
            color: $color-primary;
          }
        }
      }
      .detail-hasil {
        margin: 64px auto;
        .detail-item {
          margin: 0;
          &:not(:last-child) {
            margin-bottom: 32px;
          }
          .col {
            padding: 0;
            display: flex;
            align-items: center;
            .item-icon {
              width: 40px;

              height: 40px;
              min-width: 40px;
              min-height: 40px;
              background: #f3f3f8;
              border-radius: 16px;
              margin-right: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              .material-icons-round {
                font-size: 18px;
                color: #525298;
              }
            }
            .item-label {
              width: 140px;
              flex-shrink: 0;
              max-width: 40%;
              font-weight: 400;
              color: #7a7a7a;
            }
            .item-dots {
              padding: 0 6px;
              font-weight: 500;
            }
            .item-value {
              font-weight: 500;
            }
          }
        }
      }
      .note {
        font-weight: 400;
        color: #7a7a7a;
        span {
          font-weight: 600;
          color: $color-primary;
        }
      }
      .buttons {
        margin-bottom: 100px;
        &.jalur-pendaftaran-link {
          margin-bottom: 40px;
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 56px;
            height: fit-content;
            width: fit-content;
            border-radius: 12px;
            margin: 0 auto;
            p {
              font-weight: 600;
              font-size: 0.778rem; //14
              line-height: 1.167rem;
            }
          }
        }
      }
    }
  }
}

// responsive
@media (max-width: 991.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        .kartu-peserta {
          .kartu-img {
            height: 400px;
            border-radius: 16px 16px 0 0;
            img {
              border-radius: 16px 16px 0 0;
            }
            .overlay {
              border-radius: 16px 16px 0 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        .kartu-peserta {
          .kartu-img {
            height: 300px;
          }
          .kartu-content-wrapper {
            .kartu-content {
              .col-12 {
                margin-top: 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  main#pendaftaran {
    .main-pendaftaran {
      .card-main-pendaftaran {
        .kartu-peserta {
          .kartu-img {
            height: 260px;
          }
        }
        .jadwal-seleksi {
          .list-jadwal {
            .right {
              margin-top: 12px;
              .status {
                padding-left: 60px;
              }
              .note {
                padding-left: 60px;
              }
            }
          }
        }
      }
    }
  }
}
