
.pmb-home-icon:before { content: '\e800'; } /* '' */
.pmb-open-email-icon:before { content: '\e801'; } /* '' */
.pmb-layer-icon:before { content: '\e802'; } /* '' */
.pmb-edit-icon:before { content: '\e803'; } /* '' */
.pmb-archive-icon:before { content: '\e804'; } /* '' */
.pmb-emoji-icon:before { content: '\e805'; } /* '' */
.pmb-wallet-icon:before { content: '\e806'; } /* '' */
.pmb-arrow-right:before { content: '\e808'; } /* '' */
.pmb-arrow-left:before { content: '\e809'; } /* '' */
.pmb-receipt:before { content: '\e80a'; } /* '' */
.pmb-globe:before { content: '\e80b'; } /* '' */
.pmb-quote-icon:before { content: '\e80e'; } /* '' */
.pmb-flag-icon:before { content: '\e80f'; } /* '' */
.pmb-stars-icon:before { content: '\e818'; } /* '' */
.pmb-li--button-icon:before { content: '\e819'; } /* '' */
.pmb-check-icon:before { content: '\e81a'; } /* '' */
.pmb-time-icon:before { content: '\e822'; } /* '' */
.pmb-search-icon-mobile:before { content: '\e823'; } /* '' */
.pmb-close-icon:before { content: '\e824'; } /* '' */
.pmb-zoom-icon:before { content: '\e867'; } /* '' */
.pmb-icon-link-to:before { content: '\e868'; } /* '' */
