// VARIABLES // ============================== //
$trans-time: 300ms;
$width: 320px;

// FORM // ============================== //
form {
  width: $width;
}

.group {
  position: relative;
  margin: 12px 0;
}

// INPUTS // ============================== //

input,
textarea,
select {
  background: #fff;
  color: $color-dark-900;
  font-size: 0.875rem;
  line-height: 1.313rem;
  padding: 18px 24px;
  display: block;
  width: $width;
  border: none;
  border-radius: 6px;
  border: 1px solid #dadce0;
  &:focus {
    outline: none;
    border-color: $color-primary;
  }

  &:focus ~ label,
  &:valid ~ label {
    background-color: #fff;
    padding: 0 10px;
    margin-left: -10px;
    top: -0.3725rem;
    font-size: 0.625rem;
    line-height: 0.9375rem;
    color: #424242;
  }

  &:focus ~ label {
    color: $color-primary;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: #80868b;
  font-size: 0.875rem;
  line-height: 1.313rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 24px;
  top: 18px;
  transition: $trans-time ease all;
}

/* Use custom arrow */
.select-text {
  appearance: none;
  -webkit-appearance: none;
}
