// VARIABLES // ============================== //
$trans-time: 300ms;
$width: 400px;

// FORM // ============================== //
form {
  width: $width;
}
.datepicker-style{
  background: #FFFFFF;
  border: 1px solid #F5F6F8;
  box-sizing: border-box;
  box-shadow: 0px 12px 32px rgba(34, 34, 34, 0.12);
  border-radius: 6px;
  font-family: $font-family;
  width: 402px;
  padding: 12px;
  .datepicker--cell.-current-{
    color: #2C6ECB;
  }
  .datepicker--cell.-selected-{
    background-color: #2C6ECB;
    color: #fff;
  }
  .datepicker--pointer{
    display: none;
  }
  .datepicker--day-name{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-transform: capitalize;
    color: #404852;
    opacity: 0.7;
    padding: 10px;
  }
}
.date{
  position: relative;
  span{
    position: absolute;
    top: 18px;
    right: 18px;
    color: #7A7A7A;
  }
}
.group {
  position: relative;
  margin: 12px 0;
  
  input,
  textarea,
  select {
    background: #fff;
    color: $color-dark-900;
    font-size: 0.875rem;
    line-height: 1.313rem;
    padding: 18px 24px;
    display: block;
    width: $width;
    border: none;
    border-radius: 6px;
    border: 1px solid #dadce0;
    &::placeholder{
      opacity: 0;
    }
    &:focus {
      outline: none;
      border-color: $color-primary;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      background-color: #fff;
      padding: 0 10px;
      margin-left: -10px;
      top: -0.3725rem;
      font-size: 0.625rem;
      line-height: 0.9375rem;
      color: #424242;
    }

    &:focus ~ label {
      color: $color-primary;
    }
  }

  // input[type="password"] {
  //   letter-spacing: 0.3em;
  // }

  label {
    background-color: #fff;
    color: #80868b;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.313rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 24px;
    top: 18px;
    transition: $trans-time ease all;
  }

}
.phone-number {
  position: relative;
  margin: 0 0 20px 0;
  input,
  textarea,
  select {
    background: #fff;
    color: $color-dark-900;
    font-size: 0.875rem;
    line-height: 1.313rem;
    padding: 18px 24px;
    display: block;
    width: $width;
    border: none;
    border-radius: 6px;
    border: 1px solid #dadce0;
    &::placeholder{
      opacity: 0;
    }
    &:focus {
      outline: none;
      border-color: $color-primary;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      background-color: #fff;
      padding: 0 10px;
      margin-left: -10px;
      top: -0.3725rem;
      font-size: 0.625rem;
      line-height: 0.9375rem;
      color: #424242;
    }

    &:focus ~ label {
      color: $color-primary;
    }
  }

  // input[type="password"] {
  //   letter-spacing: 0.3em;
  // }

  label {
    background-color: #fff;
    color: #80868b;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.313rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 24px;
    top: 18px;
    transition: $trans-time ease all;
  }
  input[type="number"]{
    padding-left: 90px !important;
  }
  #list-select{
    position: absolute;
    top: 105%;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 12px 32px rgba(34, 34, 34, 0.12);
    border-radius: 6px;
    border: 1px solid #F5F6F8;
    max-height: 200px;
    overflow-y: hidden;
    display: none;
    &.show{
      display: block;
    }
    &:hover {
      overflow-y: auto;
      transition: 200ms;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #f5f5f5;
    }
  
    &::-webkit-scrollbar {
      width: 3px;
      background-color: #f5f5f5;
      visibility: hidden;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(13, 71, 161, 0.16);
    }
    .option{
      padding: 12px;
      border-bottom: 1px solid #F5F6F8;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      text-transform: capitalize;
      color: #404852;
      cursor: pointer;
      &:hover{
        background-color: #EFF1F7;
      }
    }
  }
}
.city-select{
  position: absolute;
  top: 20px;
  left: 22px;
  width: 60px;
  // display: none;
  cursor: pointer;
  &.show{
    display: block;
  }
  span{
    position: absolute;
    top: 0;
    right: 0;
    color: #BEC2C3;
  }
  select[disabled]{
    width: 60px;
    padding: 0;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
  }
}
/* Use custom arrow */
.select-text {
  appearance: none;
  -webkit-appearance: none;
}
.form-select-pmb{
  .select2-container{
    width: 100% !important; 
  }
  .select2-container .select2-selection--single{
    height: 58.6px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 58.6px;
    padding: 0 24px;
    color: #404852;
  }
  .select2-container--default .select2-selection--single{
    background: #fff;
    color: #404852;
    font-size: 0.875rem;
    line-height: 1.313rem;
    display: block;
    border: none;
    border-radius: 6px;
    border: 1px solid #dadce0;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-left: -18px;
    margin-top: 14px;
  }
  
  
}
.select2-dropdown{
  background: #FFFFFF;
  border: 1px solid #F5F6F8;
  box-sizing: border-box;
  box-shadow: 0px 12px 32px rgba(34, 34, 34, 0.12);
  border-radius: 6px;
}
.select2-results__option{
  padding: 12px 24px;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-transform: capitalize;
  color: #404852;
  border-bottom: 1px solid #F5F6F8;

}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background-color: #1959A9 !important;
}
.select2-search--dropdown{
  padding: 16px 24px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  background: #FFFFFF;
  border: 1px solid #DADCE0;
  box-sizing: border-box;
  border-radius: 8px;
  height: 42px;
  outline: none;
  padding: 12px;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #404852;
}